#index-hero{
    background-color: rgb(196, 94, 35);
}
#header-nav__item-toggle{
    display: flex;
}
#header-nav__item-pages{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 128, 128);
}
#header-nav__pages-menu{
    height: 50%;
    flex-direction: column;
}
.header-nav__item-page {
    margin: 0;
}