#header-nav__item-logo a{
    color: rgba(241, 182, 104, 0.74);
}
#index-hero{
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#0f0f0f;
}
#index-hero picture {
    position: absolute;
    width: 100%;
    height: 100%;
}
#index-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.headline-box{
    text-align: center;
    z-index: 0;
}
#showcase{
    width: 100%;
    aspect-ratio: 1/0.55;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    overflow-y: hidden;
    padding: 0 23%;
}
.showcase__item{
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase__item-picture{
    position: absolute;
    width: 50%; /* Bild passt sich dem Parent an */
}
.showcase__item-picture-blend{
    opacity: 0;
}
.showcase__item-picture img {
    width: 100%; /* Skaliert das Bild innerhalb des Parent */
    height: auto; /* Erhält das Seitenverhältnis */
    display: block; /* Entfernt unnötige Abstände unterhalb des Bildes */
    transform: scale(0.7);
}

#usp{
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1px;
    grid-template-rows: auto auto auto;
    background-color: brown;
}
.usp__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}



.testimonial{
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(16px, 2.8vw, 28px);
}