#products-hero{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/hero-products.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgb(40, 93, 124);
}
.headline-box{
    text-align: center;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: yellowgreen;
    overflow-y: hidden;
    padding: 0 23%;
}
.products__item{
    position: relative;
    aspect-ratio: 1/1;
    background-color:brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products__item-picture{
    position: absolute;
    width: 50%; /* Bild passt sich dem Parent an */
}
.products__item-picture-blend{
    opacity: 0;
}
.products__item-picture img {
    width: 100%; /* Skaliert das Bild innerhalb des Parent */
    height: auto; /* Erhält das Seitenverhältnis */
    display: block; /* Entfernt unnötige Abstände unterhalb des Bildes */
    transform: scale(0.7);
}

#usp{
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1px;
    grid-template-rows: auto auto auto;
    background-color: brown;
}
.usp__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}



.testimonial{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}