header{
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    height: 100px;
    z-index: 9000;
}
nav{
    position: absolute; 
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 100%;
}
figure{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 50%;
}
figure img {
    height: 100%;
    width: auto;
}
nav ul {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    height: 40%;
}
nav ul li{
    display: inline-block;
    height: 100%;
    margin: 0 7px;
}   
nav ul li a img{
    height: 100%;
    width: auto;
}
nav ul li a {
    height: 400px;
}