
footer{
    width: 100%;
    min-height: auto;
    height: 100vh;
}
.contact_div{
    width: auto;
    height: 100%;
    overflow: hidden;
}
form{
    width: 300px;
    margin: 50px auto 0 auto;
    font-family: Louis-George-Cafe;
}
form input{
    width: 300px;
    height: 45px;
    margin: 3px 0 13px 0;
    padding: 0 3px 0 7px;
}
form textarea {
    width: 300px;
    height: 225px;
    margin: 3px 0 17px 0;
    resize: none;
    padding: 7px 3px 7px 7px;
    font-family: Louis-George-Cafe;
}
form button {
    cursor: pointer;
    background: rgb(156, 92, 19);
    border: none;
    border-radius: 1px;
    font-size: 18px;
    height: 45px;
    width: 50%;
    font-family: Louis-George-Cafe-Bold;
    pointer-events: fill;
    margin: 7px 0 43px 0;
}
#media{
    list-style: none;
    padding: 0;
    margin: auto 0 15px 0;
    width: 100%;
    height: auto;
    text-align: center;
}
#media li{
    display: inline-block;
    list-style: none;
    height: 40px;
}
#media li a{
    display: block;
    margin: 0 5px;
    height: 100%;
    width: 40px;
    background-image: url('img/media_instagram.png');
    background-size: 100%;
}
#imprint{
    list-style: none;
    width: 100%;
    margin-bottom: 35px;
    font-size: 12px;
    text-align: center;
}
form #check {
    display:none;
}