#service-hero{
    height: 61.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/service-hero.jpg');
    background-size: cover;
    background-position: center;
}
#service-hero p{
    width: 700px;
    font-size: 23px;
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-toggle{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    box-shadow: inset 0 50px 80px rgba(0, 0, 0, 0.4);
}
.faq-toggle{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.section-toggle-header{
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 5vw;
}
.section-content{
    max-width: 1200px;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5vw;
    overflow: hidden;
    padding: 0 0;
    transition: height 0.3s linear, padding 0.3s linear;
}
.faq-content{
    max-width: 600px;
    height: 0;
    overflow: hidden;
    padding: 0 0;
    transition: height 0.3s linear, padding 0.3s linear;
}
#warranty-content p, #support-content p{
    column-count: 2;
    column-gap: 40px;
}
.section-title, .section-subtitle{
    white-space: nowrap;
    color: white;
}
.section-content hr{
    width: 100%;
}
.section-content p{
    width: 100%;
    font-size: 16px;
}
.faq-content p{
    margin-bottom: 35px;
}
.arrow {
    transition: transform 0.35s ease;
}
.section-arrow{
    position: absolute;
    width: 50px;
    right: 0;
}
.faq-arrow{
    width: 20px;
}
h3{
    margin-right: auto;
    color: rgb(20, 20, 20);
}
