body{
    min-width: 320px;
    max-height: 480px;
    height: 100%;
}
header{    
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    pointer-events: none;
    z-index: 9000;
}
header a{  
    pointer-events: auto;
}
nav{
    display: flex;
    align-items: center;
    width: 90%;
    height: 15vw;
    min-height: 50px;
    max-height: 100px;
}
figure{
    height: 50%;
}
figure img {
    height: 100%;
}
nav ul {
    margin-left: auto;
    height: 50%;
}
nav ul li a img{
    height: 35px;
}
#home{
    height: 67vh;
    width: 100%;
    transition: all 0.3s ease-out;
}
#home a{
    background-color: #0000005b;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
#home a:hover{
    background-color: #00000033;   
}
#home a.active{
    background-color:  #0000008a; 
}
#home a.active:hover{
    background-color: #0000008a;
}
#home a:hover #hero{
    transform: scale(1.8);
}
#home a.active #hero{
    filter: blur(2px);
    transform: scale(2);
}
#home a.active .triangle-down{
    margin-top: 40px;
    transform: rotateX(180deg)
}
#hero{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease-out;
    transform: scale(1.7);
}
#homeGal{
    height: 27vw;
    min-height: 86px;
    max-height: 250px;
}
#homeGal img{
    height: 100%;
    width: auto;
    margin: 0 0.7% 0 0.7%;
}
#rollButton{
    width: 150px;
    margin-top: 20px;
    padding: 15px 0;
    align-self: center;
}
#home_txt{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 0px;
    width: 100%;
    transition: all 0.3s ease-out;
}
.triangle-down {
    margin-top: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
    transition: all 0.3s ease-out;
}
#projects{
    display: flex;
    height: 33vh;
    width: 100%;
    transition: all 0.3s ease-out;
}
#projects a{
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    transition: all 0.3s ease-out;
    background-color: #0000005b;
}
#projects a.active {
    flex-basis: 95%;
    background-color: #0000008a;
}
#projects a.active img{
    filter: blur(5px);
}
#projects a.active:hover{
    background-color: #0000008a;
}
#projects a:not(.active) {
    flex-basis: 5%;
}
#projects a:hover{
    background-color: #00000033;
}
#projects a img{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
}
#galLink_A img{
    transform: scale(1.5);
    margin-left: 8%;
}
#galLink_B img{
    transform: scale(1.1);
}
#galLink_C img{
    transform: scale(1.1);
}
#galLink_A:hover img{
    transform: scale(1.6);
    margin-left: 8%;
}
#galLink_B:hover img{
    transform: scale(1.2);
}
#galLink_C:hover img{
    transform: scale(1.2);
}
#galLink_A.active img{
    margin-left: 8%;
    transform: scale(2);
}
#galLink_B.active img{
    transform: scale(1.5);
}
#galLink_C.active img{
    transform: scale(1.5);
}
footer{
    height: 100vh;
    background-image: url('img/img_contact.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000000;
}
