@font-face { font-family: 'Louis-George-Cafe';
             src: url('fonts/Louis George Cafe.ttf') format('truetype'); }
@font-face { font-family: 'Louis-George-Cafe-Bold';
             src: url('fonts/Louis George Cafe Bold.ttf') format('truetype'); }
@font-face { font-family: 'Louis-George-Cafe-Italic';
             src: url('fonts/Louis George Cafe Italic.ttf') format('truetype'); }


a, p{
    font-family: Louis-George-Cafe-Bold;
    color: white;  
}
h1, h2, h3, h4, h5, h6 {
    font-family: Louis-George-Cafe-Bold;
    color: white;
}
#projects h2 {
    position: absolute;
    writing-mode: vertical-lr;
    right: 0;
    bottom: 0;
    margin: 0.3vw;
    font-size: 5vh;
    transition: font-size 0.3s ease-out;
    float: right;
}
#subline{
    font-family: Louis-George-Cafe-Italic;
    margin-top: 20px;
    line-height: 1.3;
    text-align: center;
}
#home_txt p{
    font-family: Louis-George-Cafe;
    margin: 15px 5% 0 5%;
    line-height: 1.3;
    text-align: center;
    max-width: 800px;
    font-size: 1.1em;
}
footer h2{
    font-size: 5vh;
    margin-top: 19px;
    margin-right: 0px
}